h1 span{
    color:#635e5e;
}
/*utilidades*/
.text-center{
    text-align: center;
}
.nombre-sitio{
    color:hsl(0, 4%, 20%);
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px; 
    margin-right: 10rem;
    margin-left: 10rem;
}   

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-navegacion{
    border-top: 2px solid #000;
    border-bottom:2px solid #000;
}
.nav-principal{
    padding: 20px 0;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}
img{
    max-width: 100%;
    display: block;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

h1,h2 h3{
    font-family:'Times New Roman', Times, serif;
    margin: 0 0 5rem 0;
}
a{
    text-decoration: none;
    color: #000;
}

.hero{
    background-image:url(../img/perros1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/*listado de categorias*/
.categorias{
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #000000;
    color: #e1e1e1;
    border-radius: 50px;
}
.Listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
/*Bloque nosotros*/
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #282727 50%, #282727 100%), url(../img/perros4.webp);
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin-top: 5rem;
}
.sobre-nosotros-grid{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;*/
    display: flex;
    justify-content: end;
}
.texto-nosotros{
    /*grid-column: 2 / 3;*/
    flex-basis: 50%;
    padding-left: 8rem;
    color:#e1e1e1;
}

/*Contenido principal, listado de productos*/
.contenido-principal{
    padding-top: 5rem;
}
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.producto img{
    width: 100%;
    height: auto;
}
.producto a{
    color: #e1e1e1;
}
.producto:nth-child(1){
    grid-column: 1 / 7 ;
}
.producto:nth-child(2){
    grid-column: 1 /4;
}
.producto:nth-child(3){
    grid-column: 4 / 7;
}
.producto:nth-child(4){
    grid-column: 1 / 3;
}
.producto:nth-child(5){
    grid-column: 3 / 5;
}
.producto:nth-child(6){
    grid-column: 5 / 7;
}
.producto{
    background-color:  #282727;
}
.texto-producto{
    text-align: center;
    color: #ffff;
    padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: bolt 900;
}


.site-footer{
    border-top: 1px solid #000000;
    margin-top: 5rem;
    padding-top: 5rem;
}
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem
}

.footer-navegacion{
    text-align: center;
}
.f-titulo{
    margin-bottom: 0;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.footer-copyright{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    border-top: 1px solid #000000;
}
/**formulario*/
.formulario{
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}
.formulario legend{
    background-color: #0f5602;
    width: 100%;
    text-align: center; 
    color: #fff; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-bottom:4rem; 
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo label{
    flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo textarea,
.campo select{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

/*NOSOTROS*/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}
.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center
    
}       
/*Blog*/
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

/*Navegacion*/
.nav-principale{
    
    padding: 2rem 0;
    display: flex;
    flex-direction:row; /*cuatro posibles valores*/
    /*en direccion row justify-content es para alinear horizontalmente y align-items es vertical*/
    justify-content: space-between; /*tiene varios valores*/
    align-items: center; /*tiene varios valores*/
    background-color: #000;
}
.nav-principale a{
    color: #fff;
    font-size: 2.5rem;
}
.nav-principale a:hover{
    color: #ffffff87;
}
.nav-principal .nav-link:nth-child(1){
    margin-right: 3rem;
}