<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Pagina de {% block title %} inicio (A1) {% endblock %}</title>
</head>
<body>
    
    <nav class="nav-principale">
        <div class="">
            <a class="nav-link" href="{{url_for('index')}}">Inicio</a>
        </div>
        <div>
            <a class="nav-link" href="{{url_for('adopcion')}}">Adopcion</a>
            <a class="nav-link" href="{{url_for('revision')}}">Revision</a>
            <a class="nav-link" href="{{url_for('faq')}}">FAQ</a>
            <a class="nav-link" href="{{url_for('contacto')}}">Contacto</a>
        </div>
    </nav>
    
    <header>
        <h1 class="nombre-sitio">Perros <span>callejeros</span></h1>
    </header>
    {% block content %}
   
    {% endblock %}

    <footer class="site-footer">
        <div class="grid-footer contenedor">
            <div class="footer-navegacion">
                <h3 class="f-titulo">Categorias</h3>
                <nav class="footer-nav">
                    <a href="#">Supervivencia</a>
                    <a href="#">Tecnico</a>
                    <a href="#">Construccion</a>
                    <a href="#">Speedrun</a>
                    <a href="#">Datos</a>
                </nav>
            </div>
            <div class="footer-navegacion">
                <h3 class="f-titulo">Categorias</h3>
                <nav class="footer-nav">
                    <a href="#">Supervivencia</a>
                    <a href="#">Tecnico</a>
                    <a href="#">Construccion</a>
                    <a href="#">Speedrun</a>
                    <a href="#">Datos</a>
                </nav>
            </div>
             <div class="footer-navegacion">
                <h3 class="f-titulo">Categorias</h3>
                <nav class="footer-nav">
                    <a href="#">Supervivencia</a>
                    <a href="#">Tecnico</a>
                    <a href="#">Construccion</a>
                    <a href="#">Speedrun</a>
                    <a href="#">Datos</a>
                </nav>
            </div>
        </div>
        <p class="footer-copyright">Todos los derechos reservados</p>
    </footer>
</body>
</html>
