{% extends 'base.html' %}

{% block title %} faq {% endblock %}

{% block content %}

<section class="faq-section">
    <h2>Preguntas Frecuentes (FAQ)</h2>

    <details class="faq-item">
        <summary>¿Por qué hacemos esto?</summary>
        <p>De forma literal, es un proyecto escolar; de forma hipotética, intentamos crear una página que facilite atacar el problema de la existencia de perros en estado vulnerable enfocado en nuestra comunidad.</p>
    </details>

    <details class="faq-item">
        <summary>¿Cuáles son nuestros objetivos?</summary>
        <p>Como ya mencionamos, buscamos intentar resolver un problema de nuestra comunidad, en general, nuestro objetivo es reducir la cantidad de perros en situación de calle y darles una mejor vida.</p>
    </details>

    <details class="faq-item">
        <summary>¿Cómo puedo contactar a la organización?</summary>
        <p>Ya contamos con un apartado de contacto en nuestra barra de navegación, este apartado despliega un formulario con sus datos para que nosotros podamos responder por teléfono o correo electrónico.</p>
    </details>

    <details class="faq-item">
        <summary>¿Cómo puedo hacer donaciones?</summary>
        <p>A través del apartado de contacto, puede comunicarse con nosotros para obtener información adicional acerca de donaciones.</p>
    </details>

    <details class="faq-item">
        <summary>¿Es para lavar dinero?</summary>
        <p>No se pretende.</p>
    </details>

</section>

{% endblock %}