{% extends 'base.html' %}

{% block title %} inicio {% endblock %}

{% block content %}

<section class="sobre-nosotros">
    <div class="contenedor sobre-nosotros-grid">
        <div class="texto-nosotros">
            <h2>Sobre la pagina</h2>
            <p>Esta página nace del amor y el compromiso hacia los perros callejeros. Aquí compartimos historias, recursos y acciones para proteger, alimentar y dar hogar a quienes han sido olvidados. Creemos que cada perro merece cariño, respeto y una segunda oportunidad. Únete a nuestra comunidad y sé parte del cambio.</p>

        </div>
    </div>
</section>

<main class="contenido-principal contenedor">
    <h2 class="text-center">Más informacion</h2>
    <div class="listado-productos">
        <div class="producto">
            <img class="messi" src="{{url_for('static', filename='img/charico1.png')}}" alt="">
            <div class="texto-producto">
                <h3>Informacion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                
                <a href="#">Ver pagina</a>
            </div>
        </div>
        <div class="producto">
                <img src="{{url_for('static', filename='img/charico1.png')}}" alt="">
                <div class="texto-producto">
                    <h3>Informacion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    
                    <a href="#">Ver pagina</a>
                </div>
            </div>
            <div class="producto">
                <img src="{{url_for('static', filename='img/charico1.png')}}" alt="">
                <div class="texto-producto">
                    <h3>Informacion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                   
                    <a href="#">Ver pagina</a>
                </div>
            </div>
            <div class="producto">
                <img src="{{url_for('static', filename='img/charico2.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Informacion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    
                    <a href="#">Ver pagina</a>
                </div>
            </div>
            <div class="producto">
                <img src="{{url_for('static', filename='img/charico2.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Informacion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    
                    <a href="#">Ver pagina</a>
                </div>
            </div>
            <div class="producto">
                <img src="{{url_for('static', filename='img/charico2.webp')}}" alt="">
                <div class="texto-producto">
                    <h3>Informacion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem necessitatibus vitae asperiores eligendi quasi laborum voluptates iste hic voluptatum magni, neque excepturi incidunt vero ipsum ullam sint molestiae nulla ea.</p>
                    
                    <a href="#">Ver pagina</a>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}