{% extends 'base.html' %}

{% block title %} revision {% endblock %}

{% block content %}
    <div class="contenedor-perros">
        <div class="encabezados">
            <div class="encabezado-item">Nombre</div>
            <div class="encabezado-item">Edad</div>
            <div class="encabezado-item">Estado de Salud</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Firulais</div>
            <div class="info-edad">2 años</div>
            <div class="info-estado">Sano</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Luna</div>
            <div class="info-edad">1 año</div>
            <div class="info-estado">Pulgas</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Max</div>
            <div class="info-edad">3 años</div>
            <div class="info-estado">Raspones</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Tumajar</div>
            <div class="info-edad">4 años</div>
            <div class="info-estado">Miopía -6 dioptrías</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Ricardo</div>
            <div class="info-edad">1 año</div>
            <div class="info-estado">Herida leve en una pata</div>
        </div>

        <div class="perro-columna">
            <div class="info-nombre">Omar</div>
            <div class="info-edad">2 años</div>
            <div class="info-estado">sano</div>
        </div>
    </div>

{% endblock %}